.get-started {
	margin: 20px 0;
	color: #666;
	font-size: 11px;
	text-align: center;
}

.get-started a {
	color: #666;
}

#wysihtml5-editor-toolbar {
	position: relative;
}

div#wysihtml5-editor-toolbar header {
	display: block;
	width: 100%;
	background: #eee;
	position: relative;
	z-index: 1;
	text-align: center;
	margin: 20px auto 0px auto;
	background-image: linear-gradient(bottom, rgb(238,238,238) 0%, rgb(255,255,255) 100%);
	background-image: -o-linear-gradient(bottom, rgb(238,238,238) 0%, rgb(255,255,255) 100%);
	background-image: -moz-linear-gradient(bottom, rgb(238,238,238) 0%, rgb(255,255,255) 100%);
	background-image: -webkit-linear-gradient(bottom, rgb(238,238,238) 0%, rgb(255,255,255) 100%);
	background-image: -ms-linear-gradient(bottom, rgb(238,238,238) 0%, rgb(255,255,255) 100%);
	box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.3);
	font-size: 0;
	text-align: center;
}

.commands {
	border-left: 1px solid #ddd;
}

[data-wysihtml5-command],
[data-wysihtml5-action],
.fore-color {
	position: relative;
	border-right: 1px solid #ddd;
	border-left: 1px solid #fff;
	list-style: none;
	font-size: 12px;
	display: inline-block;
	cursor: pointer;
	height: 40px;
	width: 68px;
}

[data-wysihtml5-command]::after,
[data-wysihtml5-action]::after,
.fore-color::after {
	content: "";
	background-image: url(../img/spr_toolbar_icons_r1.png);
	background-repeat: no-repeat;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
}

[data-wysihtml5-command]:hover,
[data-wysihtml5-action]:hover,
.fore-color:hover {
	background-image: linear-gradient(bottom, rgb(229,240,226) 0%, rgb(255,255,255) 100%);
	background-image: -o-linear-gradient(bottom, rgb(229,240,226) 0%, rgb(255,255,255) 100%);
	background-image: -moz-linear-gradient(bottom, rgb(229,240,226) 0%, rgb(255,255,255) 100%);
	background-image: -webkit-linear-gradient(bottom, rgb(229,240,226) 0%, rgb(255,255,255) 100%);
	background-image: -ms-linear-gradient(bottom, rgb(229,240,226) 0%, rgb(255,255,255) 100%);
}

[data-wysihtml5-command="bold"]::after {
	background-position: 24px center;
}

[data-wysihtml5-command="italic"]::after {
	background-position: -48px center;
}

[data-wysihtml5-command="insertUnorderedList"]::after {
	background-position: -115px center;
}

[data-wysihtml5-command="insertOrderedList"]::after {
	background-position: -197px center;
}

[data-wysihtml5-command="formatBlock"][data-wysihtml5-command-value="h1"]::after {
	background-position: -344px center;
}

[data-wysihtml5-command="formatBlock"][data-wysihtml5-command-value="h2"]::after {
	background-position: -428px center;
}

[data-wysihtml5-command="createLink"]::after {
	background-position: -271px center;
}

[data-wysihtml5-command="insertImage"]::after {
	background-position: -513px center;
}

.fore-color::after {
	background-position: -741px center;
}

[data-wysihtml5-command="insertSpeech"]::after {
	background-position: -596px center;
}

[data-wysihtml5-action="change_view"]::after {
	background-position: -670px center;
}

.fore-color ul {
	display: none;
	position: absolute;
	z-index: 2;
	top: 40px;
	right: -1px;
	left: -2px;
	border: 1px solid #ccc;
	border-top: 0;
	background: #fff;
	overflow: hidden;
}

.fore-color li {
	display: block;
	margin: 3px;
	width: auto;
	border: 0;
	height: 15px;
}

.fore-color li::after {
	display: none;
}

.fore-color:hover ul {
	display: block;
}

.fore-color [data-wysihtml5-command-value="silver"] {
	background: silver !important;
}


.fore-color [data-wysihtml5-command-value="gray"] {
	background: gray !important;
}

.fore-color [data-wysihtml5-command-value="maroon"] {
	background: maroon !important;
}

.fore-color [data-wysihtml5-command-value="red"] {
	background: red !important;
}

.fore-color [data-wysihtml5-command-value="purple"] {
	background: purple !important;
}

.fore-color [data-wysihtml5-command-value="green"] {
	background: green !important;
}

.fore-color [data-wysihtml5-command-value="olive"] {
	background: olive !important;
}

.fore-color [data-wysihtml5-command-value="navy"] {
	background: navy !important;
}

.fore-color [data-wysihtml5-command-value="blue"] {
	background: blue !important;
}

.fore-color .wysihtml5-command-active {
	outline: 1px solid #666;
	outline-offset: 1px;
}

.wysihtml5-commands-disabled .fore-color ul {
	display: none;
}

.wysihtml5-action-active,
.wysihtml5-command-active {
	box-shadow: inset 0 1px 6px rgba(0, 0, 0, 0.2);
	background: #eee !important;
}

.wysihtml5-commands-disabled [data-wysihtml5-command],
.wysihtml5-commands-disabled .fore-color {
	opacity: 0.4;
	cursor: default;
	background-image: none !important;
}

[data-wysihtml5-dialog] {
	color: #333;
	font-size: 14px;
	text-align: left;
	border-radius: 4px;
	-ms-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	border: 1px solid #ccc;
	padding: 5px 10px;
	background: #FFFBE0;
	position: absolute;
	width: 100%;
	text-align: center;
	top: 45px;
}

[data-wysihtml5-dialog] input {
	color: #333;
	border: 1px solid #ccc;
	padding: 3px;
	width: 300px;
}

[data-wysihtml5-dialog] input:focus {
	outline: 0;
	border: 1px solid #666;
}

[data-wysihtml5-dialog-action] {
	padding: 4px;
	color: #fff;
	cursor: pointer;
}

[data-wysihtml5-dialog-action="save"] {
	background: #007200;
}

[data-wysihtml5-dialog-action="cancel"] {
	background: #999;
}
textarea#wysihtml5-editor {
	width: 100%;
	background: transparent;
	height: 420px;
	resize: none;
	border: 1px solid #cecece;
	white-space: pre;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	padding: 10px;
	word-wrap: normal;
	-ms-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

textarea#wysihtml5-editor:focus {
	box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.3);
	background: rgba(255, 255, 255, 0.4);
	outline: 0;
}

a.fork {
	position: absolute;
	top: 0;
	right: 0;
	border: 0;
}

/* ------------- Naptármegjelenítés ------------- */

.calendar-container {
	width: 1120px;
	min-height: 800px;
	background-color: #FFFFFF;
	float: right;
}

.calendar-day-cell {
	float: left; 
	width: 14%; 
	min-height: 190px;
	border-right: 1px solid #cecece;
	border-bottom: 1px solid #cecece;
}

.calendar-day-cell-first {
	float: left; 
	width: 14%; 
	min-height: 190px;
	border-left: 1px solid #cecece;
	border-bottom: 1px solid #cecece;
	border-right: 1px solid #cecece;
}

.calendar-day-cell-empty {
	float: left; 
	width: 14%; 
	height: 190px;
	border-right: 1px solid #cecece;
	border-bottom: 1px solid #cecece;
}



.calendar-day-number {
	color: #000;
	text-align: right;
	padding-right: 4px;
	height: 14px;
}

.calendar-day-name {
	width: 14%;
	float: left;
	text-align: center;
	background-color: #EEEEEE;
	border-bottom: 1px solid #cecece;
}

.date-header {
	font-size: 26px;
	background-color: #1bbc9b;
	font-weight: 300;
	color: #FFFFFF;
	padding: 8px 0px 8px 20px;
}

.calendar-first {
	float: left; 
	width: 14%; 
	height: 190px;
	border-right: 1px solid #cecece;
	border-bottom: 1px solid #cecece;
	border-left: 1px solid #cecece;
}

.calendar-form-holder {
	width: 100%;
	height: 60px;
	padding: 10px 0px 0px 20px;
}

.calendar-form-holder select {
	height: 40px;
	margin: 0px 40px 0px 0px;
	padding: 0px 7px 0px 7px;
	font-size: 23px;
}

.calendar-form-holder input {
	height: 40px;
	font-size: 23px;
	line-height: 26px;
}

.calendarbutton {
	font-family: 'Segoe UI', 'Open Sans', Arial, sans-serif;
	text-decoration: none;
	text-align: center;
	text-transform: uppercase;
	background: #1bbc9b;
	color: #FFF;
	border: 0px none;
	outline: 0px none;
	padding: 0px 14px;
}

.calendarbutton:hover {
	background: #74A599;
}

.calendar-event-title {
	text-align: center;
	font-weight: bold;
	height: 22px;
	line-height: 13px;
}

.calendar-event-time {
	text-align: center;
}

.idopontfoglalas-container {
	width: 875px;
	background-color: #FFFFFF;
	margin: 0px auto;
}

.idopontfoglalas-container-label {
	width: 150px;
	padding-left: 20px;
	float: left;
}

.idopontfoglalas-container-form {
	float: left;
	width: 920px;
}

.idopontfoglalas-container-label label {
	height: 38px;
	line-height: 34px;
	margin-bottom: 18px;
}

.idopontfoglalas-container-form input {
	height: 40px;
}

.idopontfoglalas-container-form select {
	height: 40px;
	margin-bottom: 15px;
}

.idopontfoglalas-eszkozok {
	height: 100px;
	width: 500px;
	margin-bottom: 15px;
}

.idopontfoglalas-kiserletek {
	width: 600px;
}

label[for=ido] {
	margin-top: 60px;
}

label[for=ig] {
	margin-right: 15px;
}

.static-container {
	width: 95%;
	margin: 0px auto;
	line-height: 27px;
	font-size: 15px;
}


#mettol {
	width: 50px;
	margin-left: 10px;
}

#meddig {
	width: 50px;
	margin-left: 10px;
}

label[for=mettol] {
	margin-left: 20px;
}

label[for=meddig] {
	margin-left: 20px;
}

.foglalasform {
	float: right;
	background-color: #FFFFFF;
	width: 1120px;
	padding-top: 35px;
}

label[for=kiserletek] {
	margin-bottom: 770px;
}

.foglalassubmit {
	font-family: 'Segoe UI', 'Open Sans', Arial, sans-serif;
	text-decoration: none;
	text-align: center;
	text-transform: uppercase;
	background: #1bbc9b;
	color: #FFF;
	border: 0px none;
	outline: 0px none;
	padding: 0px 14px;
	font-size: 23px;
	height: 40px;
	margin-left: 150px;
}

.foglalassubmit:hover {
	background: #74A599;
}